apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: trillian-logsigner
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: trillian-logsigner
    app.kubernetes.io/part-of: trillian
  name: trillian-logsigner
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: trillian-logsigner
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: trillian-logsigner
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/trillian/trillian-logsigner@sha256:1f4a0ea9c046d3d6fe1690d593e8f0c8973b3c49c8237e5687c492bcc0051d11
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 6379
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
