apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: trillian-logsigner
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/trillian/trillian-logsigner@sha256:e6478936440a043c1c7fc16626727b34b24fcc8a48f97cf6f7533675de58e7e5
        name: my-go
        resources: {}
status: {}
