apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: netcat
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: netcat
    app.kubernetes.io/part-of: trillian
  name: netcat
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: netcat
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: netcat
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/trillian/netcat@sha256:1c9d139ed4b91f699ac06d62dab6d6f5bcfae90b8e97aee5e0325c31bba0ac6c
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
